$primaryColor: var(--theme-bg);
$secondaryColor: var(--theme-text);
$tertiaryColor: var(--theme-primary);
$quaternaryColor: var(--theme-primary);
$tagBg: var(--theme-elevation-50);
$fontFace: var(--font-body);
$fontSize: 1rem;
$fontSizeS: 0.85rem;
$mainFont: 'proxima-nova', sans-serif;
// $fontPath: '../../../assets/fonts/proxima-nova/';
// $fontName: 'proximanova-black-webfont';
$deviceBackground: #2f3d55;
@import 'grapesjs/src/styles/scss/main.scss';

.editor-canvas {
  flex-grow: 1;
  padding: 1px;
  overflow-y: auto;
}

.editor-row {
  display: flex;
  background-color: var(--theme-elevation-0);
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  height: auto;
}

.panel__top {
  right: 5rem;
  top: 1rem;
  display: block;
  z-index: var(--z-nav);
}

.panel__basic-actions {
  position: relative;
}

.panel__switcher {
  position: relative !important;
  padding-bottom: 10px;
}

.panel__left {
  width: 23%;
  height: 99%;
  overflow-y: auto;
  background-color: var(--theme-elevation-0) !important;
  border-right: var(--theme-border) 1px solid;

  .gjs-pn-btn {
    font-size: 14px;
    border-right-color: var(--theme-border) !important;
    border-bottom-color: var(--theme-border) !important;
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-right-style: solid !important;
    border-bottom-style: solid !important;
    padding-right: 10px !important;

    svg {
      vertical-align: top;
      padding-bottom: 2px;
      height: 20px;
      width: 24px;
    }

    &.gjs-pn-active {
      color: darken($color: rgb(72 163 215), $amount: 20) !important;
      background-color: var(--theme-elevation-0) !important;
      border-bottom: darken($color: rgb(72 163 215), $amount: 20) !important;
      border-bottom-style: solid !important;
      border-bottom-width: 4px !important;
      box-shadow: 2px 2px solid var(--theme-elevation-0) !important;
    }
  }
}

.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2f3d55;
}

.gjs-pn-panel {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 0;
}

.gjs-pn-views {
  width: 23% !important;
  background-color: var(--theme-bg) !important;
  color: var(--theme-text);
  border-right: 2px solid var(--theme-border);
  box-shadow: 0 0 2px rgb(233 233 233 / 40%) !important;
  left: 0 !important;
}

.gjs-pn-views-container {
  width: 23% !important;
  overflow: auto;
  box-shadow: 0 0 2px rgb(233 233 233 / 40%) !important;
  display: none;
}

.gjs-selected {
  outline: 2px solid var(--theme-primary) !important;
  outline-offset: -2px !important;
}

.gjs-dashed {
  outline: 2px dashed rgb(170 170 170 / 70%) !important;
  outline-offset: -2px !important;
  z-index: var(--z-nav) !important;
}

.gjs-sm-properties {
  color: var(--theme-text-dark) !important;
  font-weight: normal !important;
  font-size: 1rem !important;
  padding: 15px !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  background-color: var(--theme-elevation-0) !important;
}

.gjs-label-wrp {
  width: 18% !important;
  min-width: 22% !important;
}

.gjs-block-category .gjs-title,
.gjs-category-title,
.gjs-sm-sector-title {
  display: flex;
  align-items: center;
  font-weight: 500 !important;
  color: var(--theme-text-light) !important;
  font-size: 15px;
  height: 3.2rem !important;
  background-color: var(--theme-elevation-0) !important;
  flex-direction: row-reverse !important;
  justify-content: start !important;
  position: relative !important;
  padding: 9px 15px 9px 15px !important;
  border-bottom: 1px solid var(--theme-border) !important;
}

.gjs-block {
  width: 80px;
  height: 80px;
  padding: 0px;
  border-radius: 4px !important;
  justify-content: center !important;
  margin: 2px !important;
  background-color: var(--theme-bg) !important;
  color: var(--theme-primary) !important;
  border-color: var(--theme-border);
}

.gjs-pn-options {
  right: 0% !important;
  top: 0% !important;
}

.gjs-blocks-c {
  background-color: var(--theme-elevation-0);
  padding: 20px;
  justify-content: center;
}

.gjs-field {
  border: solid 1px var(--theme-border) !important;
  background-color: var(--theme-elevation-0) !important;
  border-radius: 0px !important;
  padding: 3px !important;
}

.gjs-field .gjs-d-s-arrow {
  right: 10px !important;
}

.gjs-field-integer input {
  color: var(--theme-text-light) !important;
  padding-right: 15px !important;
  width: 75px !important;
  height: 27px !important;
}

.gjs-clm-tags {
  font-size: 1rem !important;
}

.gjs-pn-views {
  left: 0;
}

.gjs-traits-label {
  font-weight: 600 !important;
  font-size: 1rem !important;
}

.gjs-sm-property {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  padding: 5px 5px !important;
}

.gjs-sm-property__border {
  display: block !important;

  .gjs-sm-composite {
    border: 1px solid var(--theme-border) !important;
  }
}

.gjs-field-color .gjs-input-holder {
  display: none !important;
}

.gjs-field-colorp {
  border-left: 0 !important;
  width: 27px !important;
  height: 26px !important;
}

.gjs-field-color {
  background-color: transparent !important;
  border: none !important;
}

.gjs-field-color-picker {
  border-radius: 2px !important;
  height: 25px;
  width: 25px;
}

.gjs-radio-item-label {
  padding: 5px;
  margin: 0 !important;
}

.gjs-sm-stack #gjs-sm-add {
  background: var(--theme-elevation-0);
  opacity: 1;
  color: rgb(115 120 132);
  border-radius: 3px;
  border: solid 1px var(--theme-border);
  width: 25px;
  top: 0;
}

.gjs-radio-item input:checked + .gjs-radio-item-label {
  background-color: var(--theme-border) !important;
  color: white !important;
}

.gjs-sm-slider {
  display: block !important;
}

.gjs-field-range {
  border: none !important;
  background-color: transparent !important;
}

.gjs-block-category.gjs-open,
.gjs-sm-sector.gjs-sm-open {
  border-bottom: 1px solid var(--theme-border) !important;
}

.gjs-field-range input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: #cacaca;
}

.gjs-field-range input[type='range']::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 100px;
  -webkit-appearance: none;
  background: var(--theme-primary) !important;
  border: none;
}

.gjs-select {
  .gjs-sel-arrow {
    .gjs-d-s-arrow {
      border-left: 3px solid transparent !important;
      border-top: 6px solid var(--theme-text-dark);
    }
  }
}

.gjs-block {
  .gjs-block-label {
    font-size: 11px !important;
    font-weight: 500 !important;
    font-family: var(--font-body) !important;
    color: var(--theme-text);
  }

  .gjs-block__media svg {
    width: 40px !important;
    height: auto;
  }
}

.gjs-sm-sector__global_colors_collection .gjs-sm-sector-title::after {
  background-image: url('../../../assets/images/global-theme-settings/sidebar/colors.svg') !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
}

.gjs-sm-sector__global_fonts_collection .gjs-sm-sector-title::after {
  background-image: url('../../../assets/images/global-theme-settings/sidebar/fonts.svg') !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
}

.gjs-sm-sector__button .gjs-sm-sector-title::after {
  background-image: url('../../../assets/images/global-theme-settings/sidebar/buttons.svg') !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
}

.gjs-sm-sector__headings .gjs-sm-sector-title::after {
  background-image: url('../../../assets/images/global-theme-settings/sidebar/headings.svg') !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
}

.gjs-sm-sector__image .gjs-sm-sector-title::after {
  background-image: url('../../../assets/images/global-theme-settings/sidebar/images.svg');
  background-size: 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
}

.gjs-sm-sector__theme_style .gjs-sm-sector-title::after {
  background-image: url('../../../assets/images/sidebar/theme_style.svg');
  background-size: 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
}

.gjs-sm-sector__body-text .gjs-sm-sector-title::after {
  background-image: url('../../../assets/images/global-theme-settings/sidebar/body-text.svg');
  background-size: 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
}

.gjs-sm-sector__link .gjs-sm-sector-title::after {
  background-image: url('../../../assets/images/global-theme-settings/sidebar/links.svg');
  background-size: 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
}

.gjs-sm-sector__form_fields .gjs-sm-sector-title::after {
  background-image: url('../../../assets/images/global-theme-settings/sidebar/form-fields.svg');
  background-size: 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: '';
}

.gjs-sm-sector__headings,
.gjs-sm-sector__form_fields,
.gjs-sm-sector__design_system,
.gjs-sm-sector__theme_style {
  -webkit-user-select: none;
  user-select: none;

  .gjs-sm-sector-title {
    background-color: var(--theme-elevation-50) !important;
  }

  .gjs-sm-sector-label {
    font-size: 13px !important;
    text-transform: uppercase !important;
  }

  .gjs-sm-sector-caret {
    display: none !important;
  }

  .gjs-sm-properties {
    display: none !important;
  }

  &.gjs-sm-open {
    border-bottom: none !important;
  }
}

.gjs-pn-global-style {
  width: 100% !important;

  .gjs-sm-sector-title {
    .gjs-sm-sector-label {
      font-size: 16px;
      letter-spacing: 0.1px;
    }
  }

  .gjs-category-title,
  .gjs-block-category,
  .gjs-title,
  .gjs-sm-sector-caret {
    width: 100% !important;
    height: 20px !important;
    min-width: 20px !important;

    svg {
      color: #bcbec4;
    }
  }
}

.gjs-block-category .gjs-caret-icon {
  margin-left: 20px;
}

.gjs-sm-clear {
  svg {
    vertical-align: top;
  }
}

.gjs-pn-panel-top {
  .gjs-pn-btn {
    font-size: 15px;

    svg {
      vertical-align: top;
      padding-bottom: 2px;
      height: 20px;
      width: 24px;
    }

    &.gjs-pn-active {
      color: var(--theme-elevation-0);
      background-color: var(--theme-text-dark);
      box-shadow: 2px 2px solid var(--theme-elevation-0);
    }
  }
}

#preview {
  svg {
    width: 16px;
    height: 20px;
    padding-bottom: 0px;
  }
}

.gjs-layer {
  background-color: rgb(0 0 0 / 3%) !important;

  .gjs-layer-vis {
    right: 50px !important;
    top: 20px !important;
    left: auto !important;
    width: 16px;
  }

  .gjs-layer-title {
    border: 1px solid var(--theme-border) !important;
    height: 65px !important;
    border-radius: 4px !important;
    display: flex !important;
    font-weight: 500 !important;
    margin: 4px;
  }

  .gjs-layer-name {
    /* padding: 5px 0; */
    padding: 3px 0px 10px 22px;
  }

  .gjs-layer-caret {
    width: 20px;
    padding: 2px;
  }

  .gjs-layer-move {
    padding: 10px;
    width: 16px;
    right: 2px;
    top: 17px;
  }

  #gjs-sm-add {
    right: 0px !important;
    height: 25px !important;
  }

  .gjs-field {
    width: 100% !important;
  }

  .gjs-field-arrows {
    color: rgb(115 120 132) !important;
  }
}

// .gjs-sm-composite {
//   border: none !important;
//   .gjs-sm-properties{
//   display: flex;
//   flex-direction: row !important;
//   flex-wrap: nowrap;
//   padding: 15px 0px !important;
// }
// .gjs-sm-property{
//   display: block !important;
//   padding: 0px !important;;
//   .gjs-sm-icon {
//     font-size: 13px !important;
//    }
//    .gjs-sm-label{
//     display: none !important;
//    }
//  }
//  .gjs-field-arrows{
//   display: none !important;
//  }
//  .gjs-field-integer input{
//   padding-right: 0px !important;
//   width: 50px !important;
//  }
// }
.gjs-fields .gjs-select select {
  width: 100% !important;
  color: var(--theme-text-dark);
}

.gjs-radio-item .gjs-radio-item .gjs-radio-item-label .fa {
  color: var(--theme-elevation-150);
}

.gjs-sm-composite {
  border: none !important;
  .gjs-sm-properties {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    padding: 15px 0px !important;
  }

  .gjs-sm-property {
    display: block !important;
    padding: 0px !important;

    .gjs-sm-icon {
      font-size: 8px !important;
      font-weight: 300 !important;
    }
  }

  .gjs-field-arrows {
    display: none !important;
  }

  .gjs-field-integer {
    input {
      // padding-right: 22px !important;
      width: 40px !important;
      color: var(--theme-elevation-600) !important;
    }

    select {
      color: var(--theme-elevation-600) !important;

      padding: 5px 0px;
    }

    .gjs-field-units {
      right: 3px !important;
    }
  }
}

// ----------------------------------//
// --------Box Shadow  ------------//
// ----------------------------------//
.gjs-sm-property__box-shadow {
  .gjs-field {
    width: 100% !important;
    background-color: rgb(249 249 249) !important;
    // border:solid 1px #EEEEEE !important;
    border-radius: 4px !important;
  }

  .gjs-sm-layer .gjs-sm-active {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .gjs-sm-property {
    padding: 0px 5px !important;
  }

  .gjs-sm-properties {
    font-size: 0.75rem;
    padding: 5px 0 0 !important;
    flex-direction: row !important;
  }

  .gjs-sm-property {
    box-sizing: border-box;
    float: left !important;
    width: 50% !important;
    margin-bottom: 5px !important;
    padding: 0 5px !important;
    display: block !important;
  }

  .gjs-sm-layer #gjs-sm-move {
    line-height: 0;
  }

  .gjs-field-integer input {
    color: rgb(115 120 132) !important;
  }

  .gjs-input-unit {
    color: rgb(115 120 132) !important;
  }

  #gjs-sm-add {
    right: 0px !important;
    height: 25px !important;
    line-height: 0px !important;
  }

  .gjs-field-arrows {
    color: rgb(115 120 132) !important;
  }

  .gjs-sm-layers {
    padding: 0px !important;
    border: none !important;
  }

  // .gjs-field-units{
  // right: 0px !important;
  // }
  .gjs-field-color {
    border: none !important;

    .gjs-field-colorp {
      left: 0px !important;
    }
  }

  .gjs-field-arrow-d {
    border-left: 4px solid transparent !important;
    border-top: 4px solid rgb(115 120 132) !important;
  }

  .gjs-field-arrow-u {
    border-left: 4px solid transparent !important;
    border-bottom: 4px solid rgb(115 120 132) !important;
  }

  .gjs-field-arrows {
    color: rgb(115 120 132) !important;
  }
}

// ----------------------------------//
// --------text shadow------------//
// ----------------------------------//
.gjs-sm-property__text-shadow {
  .gjs-field {
    width: 100% !important;
    background-color: rgb(249 249 249) !important;
    // border:solid 1px #EEEEEE !important;
    border-radius: 4px !important;
  }

  .gjs-sm-layer .gjs-sm-active {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .gjs-sm-property {
    padding: 0px 5px !important;
  }

  .gjs-sm-properties {
    font-size: 0.75rem;
    padding: 5px 0 0 !important;
    flex-direction: row !important;
  }
  .gjs-sm-property {
    box-sizing: border-box;
    float: left !important;
    width: 50% !important;
    margin-bottom: 5px !important;
    padding: 0 5px !important;
    display: block !important;
  }

  .gjs-sm-layer #gjs-sm-move {
    line-height: 0;
  }

  .gjs-field-integer input {
    color: rgb(115 120 132) !important;
  }

  .gjs-input-unit {
    color: rgb(115 120 132) !important;
  }

  #gjs-sm-add {
    right: 0px !important;
    height: 25px !important;
    line-height: 0px !important;
  }

  .gjs-field-arrows {
    color: rgb(115 120 132) !important;
  }

  .gjs-sm-layers {
    padding: 0px !important;
    border: none !important;
  }

  // .gjs-field-units{
  // right: 0px !important;
  // }
  .gjs-field-color {
    border: none !important;
    .gjs-field-colorp {
      left: 0px !important;
    }
  }

  .gjs-field-arrow-d {
    border-left: 4px solid transparent !important;
    border-top: 4px solid rgb(115 120 132) !important;
  }
  .gjs-field-arrow-u {
    border-left: 4px solid transparent !important;
    border-bottom: 4px solid rgb(115 120 132) !important;
  }

  .gjs-field-arrows {
    color: rgb(115 120 132) !important;
  }
}

// ----------------------------------//
// --------text shadow------------//
// ----------------------------------//
.gjs-sm-property__text-shadow {
  .gjs-field {
    width: 100% !important;
    background-color: rgb(249 249 249) !important;
    // border:solid 1px #EEEEEE !important;
    border-radius: 4px !important;
  }
  .gjs-sm-layer .gjs-sm-active {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .gjs-sm-property {
    padding: 0px 5px !important;
  }

  .gjs-sm-properties {
    font-size: 0.75rem;
    padding: 5px 0 0 !important;
    flex-direction: row !important;
  }

  .gjs-sm-property {
    box-sizing: border-box;
    float: left !important;
    width: 50% !important;
    margin-bottom: 5px !important;
    padding: 0 5px !important;
    display: block !important;
  }

  .gjs-sm-layer #gjs-sm-move {
    line-height: 0;
  }

  .gjs-field-integer input {
    color: rgb(115 120 132) !important;
  }

  .gjs-input-unit {
    color: rgb(115 120 132) !important;
  }
  #gjs-sm-add {
    right: 0px !important;
    height: 25px !important;
    line-height: 0px !important;
  }
  .gjs-field-arrows {
    color: rgb(115 120 132) !important;
  }

  .gjs-sm-layers {
    padding: 0px !important;
    border: none !important;
  }

  // .gjs-field-units{
  // right: 0px !important;
  // }
  .gjs-field-color {
    border: none !important;

    .gjs-field-colorp {
      left: 0px !important;
    }
  }
  .gjs-field-arrow-d {
    border-left: 4px solid transparent !important;
    border-top: 4px solid rgb(115 120 132) !important;
  }

  .gjs-field-arrow-u {
    border-left: 4px solid transparent !important;
    border-bottom: 4px solid rgb(115 120 132) !important;
  }
  .gjs-field-arrows {
    color: rgb(115 120 132) !important;
  }
}

.gjs-sm-property__text-transform .gjs-radio-items .gjs-radio-item span {
  font-weight: 500;
  font-size: 13px;
}

.gjs-sm-property__text-decoration .gjs-radio-items .gjs-radio-item svg {
  width: 14px;
  color: var(--theme-text);
}

.gjs-sm-property__font-style .gjs-radio-items .gjs-radio-item span {
  font-weight: 500;
  font-size: 13px;
}

.gjs-select option,
.gjs-field-select option,
.gjs-clm-select option,
.gjs-sm-select option,
.gjs-fields option,
.gjs-sm-unit option {
  background-color: white;
  color: #444444;

}

.gjs-sm-properties {
  .gjs-sm-property__Typography {
    position: relative !important;
    display: block !important;
    margin-bottom: 0;
    #gjs-sm-add::before {
      content: '\f040' !important;
      font-family: FontAwesome;
    }
    #gjs-sm-add svg {
      display: none !important;
    }

    .gjs-field-range {
      border: none !important;
      background-color: transparent !important;
    }
    .gjs-field {
      border: solid 1px transparent !important;
      background-color: transparent !important;
      .gjs-sm-active {
        .gjs-sm-properties {
          .gjs-field {
            border: solid 1px var(--theme-border) !important;
            background-color: var(--theme-elevation-0) !important;
          }
        }
      }
      .gjs-sm-layer {
        border: solid 1px var(--theme-border) !important;
        background-color: var(--theme-elevation-0) !important;
      }
    }
    .gjs-sm-stack #gjs-sm-add {
      top: -25px !important;
      height: 25px !important;
    }
  }
}
.gjs-field {
  .gjs-sm-active {
    .gjs-sm-properties {
      padding: 0px 0px !important;

      .gjs-sm-property {
        display: flex !important;
      }
    }
  }
}

.gjs-sm-layer {
  .gjs-sm-label-wrp {
    max-width: fit-content;
  }
}

.gjs-sm-stack {
  .gjs-field .gjs-sm-active .gjs-sm-properties .gjs-sm-property {
    flex-direction: column !important;
  }
}

.gjs-sm-layer {
  #gjs-sm-move {
    display: none;
  }

  #gjs-sm-close-layer {
    display: block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    min-width: 20px;
    position: absolute;
    right: -1px;
    top: -34px;
  }
}
