// @import "./font-proxima-nova.scss";

// Box Sizing
//---------------------------------------------
@import '~payload/scss';
@import 'app.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// HTML
//---------------------------------------------

html,
body {
  height: 100%;
}

// Body
//---------------------------------------------

body {

  background-color: #F9F9F9 !important;
  font-family: 'proxima nova', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Root
//---------------------------------------------

#root {
  height: 100%;
}

// Page
//---------------------------------------------

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 3.5rem;
  height: 100%;
}

// Main
//---------------------------------------------

.main {
  position: relative;
  width: 100%;
  flex: 1;

  &__wrapper {
    position: relative;
    height: 100%;
    padding-top: 5rem;
  }

  &__content {
    height: 100%;
    // padding-left: 15.5rem;
  }

  &__builder {
    height: 100%;
    // padding-left: 23.75rem;
  }
}


.login__brand {
  svg {
    width: base(10);
    height: auto;
  }
}

.btn--style-primary {
  background-color: #48a3d7;
  color: whitesmoke;
}

.template-default{
  
  .eyebrow:before{
    background-color: #1b2c4a;
    opacity: 1;
}

  .step-nav span{
    color: whitesmoke;
  }

  .eyebrow{
    padding: 15px;
  }

  .nav header{
    padding: 15px;
    background-color: #1b2c4a; 
    margin-bottom: 20px;
  }

  .nav__scroll{
    padding: 0px;
  }
  @media (prefers-reduced-motion: no-preference) { 
    .graphic-icon path{
        fill: whitesmoke;
        animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .nav__wrap{
    padding: 0px 20px;
  }

  .nav nav a{
    margin-left: 15px;
  }

  .nav-group{
    margin: 0px;
    border-top: 1px solid #ccc;
    padding: 3px 0px;
  }
  
  .nav-group__label{
    font-weight: 600;
    color: #444;
  }

  .dashboard__wrap{
    background: #f9f9fa;
  }
  .card{
    background-color: #f3f4f7;
    border: 1px solid #d0dbe6;
    border-radius: 7px;
  }
  .card h5{
    color: #4a5161;
  }

  .btn .btn__icon{
    border-color: #48a3d7;
  }

  .btn span, .btn svg{
   color: whitesmoke;
  }

  .banner--type-success{
   background-color:  #48a3d7; 
  }


}
 