@import '../../styles/scss/index.scss';

.field-type.textarea {
  position: relative;

  .field-label {
    font-weight: 500;
    font-size: 16px;
    color: var(--theme-text);
    margin-bottom: 0;
  }

  textarea {
    padding: .375rem .75rem;
    border-radius: 4px !important;
    border: 1px solid var(--theme-bg);
    background: var(--theme-bg);
    color: var(--theme-text);
    font-size: 16px !important;
    min-height: 56px !important;
    height: auto !important;
    box-shadow: none !important;
    padding-top: 1.1rem !important;
    padding-bottom: 1.1rem !important;

    &:hover {
      border-color: var(--theme-primary) !important;
    }

    &:focus,
    &:active {
      border-color: var(--theme-primary) !important;
      outline: 1;
    }

    &::placeholder {
      font-size: 16px !important;
    }

    @include formInput;

  }

  &.error {
    input {
      background-color: var(--theme-error-200) !important;
    }
  }
}
