$primaryColor: var(--theme-bg);
$secondaryColor: var(--theme-text);
$tertiaryColor: var(--theme-primary);
$quaternaryColor: var(--theme-primary);
$fontFace: var(--font-body);
$fontSize: 0.7rem;
$fontSizeS: 0.75rem;
$mainFont: 'proxima-nova', sans-serif;
$fontPath: '../../assets/fonts/proxima-nova';
$fontName: 'proximanova-bold-webfont';
@import "grapesjs/src/styles/scss/main.scss"; 


.editor-canvas{
    flex-grow: 1;
    background-color: #f1f3f5;
}
.editor-row{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 200px;
}
.gjs-cv-canvas{
    width: 78% !important;
}
.gjs-pn-views{
    width: 22% !important;
}
.gjs-pn-views-container {
    width: 22% !important;
    overflow: scroll;
    box-shadow: 0 0 2px rgb(0 0 0 / 10%) !important;
}
.gjs-selected {
    outline: 2px solid var(--theme-primary) !important;
    outline-offset: -2px !important;
}
.gjs-sm-properties {
    font-size: 1rem !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    font-weight: 500;
}
.gjs-pn-commands{
    width: 100% !important;
}
.gjs-layer-vis{
    width: 30px !important;
}
.gjs-label-wrp{
    width: 22% !important;
    min-width: 20% !important; 
}
.gjs-category-title,
.gjs-layer-title,
.gjs-block-category .gjs-title,
.gjs-sm-sector-title {
    font-weight: 500 !important;
    color: var(--theme-text) !important;
    font-size: 1rem !important;
    height: 3rem !important;
}
.gjs-sm-field input,
.gjs-clm-select input,
.gjs-clm-field input,
.gjs-sm-field select,
.gjs-clm-select select,
.gjs-clm-field select {   
    color: var(--theme-text) !important;
}
    
.gjs-layer-name{
    padding: 0.5rem !important;
}
.gjs-block {
    width: 30% !important;
    padding: 0.5rem !important;
    border-radius: 4px !important;
    margin:2px !important;
    box-shadow: 1px 1px 0 0 rgba(97, 97, 97, 0.3) !important;
    background-color: #f1f3f5 !important;
    color: var(--theme-primary);
}
.gjs-blocks-c{
    justify-content: space-evenly !important;
}
.gjs-block__media {
    margin-bottom: 0px !important;
}
.gjs-sm-label {
    margin: 5px !important;

}
.gjs-block-label {
    font-size: 0.65rem !important;
    font-weight: 600 !important;
    font-family: var(--font-body);
    color: var(--theme-text);
}

.gjs-field  {
    border: solid 1px #ddd !important;
    background-color: var(--theme-elevation-0) !important;
    border-radius: 1px !important;
    padding: 5px !important;
}
.gjs-clm-tags{
    font-size: 1rem !important;
}
.gjs-cv-canvas {
    left: 22% !important;
}

.gjs-pn-views-container{
    left: 0;
}
.gjs-pn-views{                      
    left: 0;
}

.gjs-traits-label {
    font-weight: 600 !important; 
    font-size: 1rem !important;
}




