@import "grapesjs/src/styles/scss/_gjs_variables.scss";
$primaryColor: var(--theme-primary);
$secondaryColor: var(--theme-primary);
$tertiaryColor: var(--theme-primary);
$quaternaryColor: var(--theme-primary);
$fontFace: var(--font-body);
$fontSize: 0.9rem;
$fontSizeS: 0.9rem;
$mainFont: "proxima-nova", sans-serif;
$fontPath: "../../assets/fonts/proxima-nova";
$fontName: "proximanova-bold-webfont";

// @import "grapesjs/src/styles/scss/main.scss";
.editor-canvas {
  flex-grow: 1;
  background-color: var(--theme-bg);
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}
  

.gjs-cv-canvas {
  width: 80% !important;
}

.gjs-pn-panel,
.gjs-pn-views {
  width: 20% !important;
  box-shadow: 0 0 10px var(--theme-elevation-300) !important;
  position: relative !important;
  font-size: x-large !important;
  font-weight: 400 !important;
  color: var(--theme-elevation-0) !important;
  padding: 0 !important;
}



.gjs-pn-views-container {
  width: 20% !important;
  overflow: auto;
  box-shadow: 0 0 10px var(--theme-elevation-300) !important;
}

.gjs-selected {
  outline: 4px solid var(--theme-primary) !important;
  outline-offset: -4px !important;
}

.gjs-sm-properties {
  color: var(--theme-text) !important;
  font-weight: 300;
  color: var(--theme-text) !important;
  font-weight: 300;
  font-size: 1rem !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  background-color: var(--theme-elevation-0)
}

.gjs-pn-commands {
  width: 100% !important;
}

.gjs-layer-vis {
  width: 30px !important;
}

.gjs-label-wrp {
  width: 18% !important;
  min-width: 20% !important;
}

.gjs-category-title,
.gjs-layer-title,
.gjs-block-category,
.gjs-sm-sector-title {
  font-weight: 500 !important;
  color: var(--theme-text) !important;
  font-size: 1rem !important;
  height: 4rem !important;
  background-color: #fff !important;
  flex-direction: row-reverse !important;
  justify-content: start !important;
  border-bottom: 2px solid var(--theme-elevation-50) !important
}

.gjs-sm-field input,
.gjs-clm-select input,
.gjs-clm-field input,
.gjs-sm-field select,
.gjs-clm-select select,
.gjs-clm-field select {
  color: var(--theme-text) !important;
}

.gjs-layer-name {
  padding: 0.5rem !important;
}

.gjs-block {
  width: 30% !important;
  padding: 0.5rem !important;
  border-radius: 4px !important;
  margin: 2px !important;
  box-shadow: 1px 1px 0 0 rgba(97, 97, 97, 0.3) !important;
  background-color: #f1f3f5 !important;
  color: var(--theme-primary);
}

.gjs-blocks-c {
  margin: 5px 10px;
  margin: 5px 10px;
  justify-content: space-evenly !important;
}

.gjs-block__media {
  margin-bottom: 0px !important;
}

.gjs-sm-label {
  margin: 5px !important;
}

.gjs-block-label {
  font-size: 0.65rem !important;
  font-weight: 600 !important;
  font-family: var(--font-body);
  color: var(--theme-text);
}

.gjs-field {
  border: solid 1px #ddd !important;
  background-color: var(--theme-elevation-0) !important;
  border-radius: 2px !important;
  // padding: 5px !important;
}

.gjs-select select {
  padding-right: 20px !important;
  padding-left: 10px !important;
  width: 120px !important;
}

.gjs-select select option {
  background-color: #fff !important;
  color: #101010 !important;
  border: none !important;
  background-color: #fff !important;
  color: #101010 !important;
  border: none !important;
}

.gjs-field .gjs-d-s-arrow {
  right: 10px !important;
}

.gjs-field-integer input {
  padding-right: 30px;
  width: 120px !important;
  padding-right: 30px;
  width: 120px !important;
}

.gjs-clm-tags {
  font-size: 1rem !important;
}

.gjs-cv-canvas {
  left: 20% !important;
  left: 20% !important;
}

.gjs-pn-views-container {
  left: 0;
}

.gjs-traits-label {
  font-weight: 600 !important;
  font-size: 1rem !important;
}

// .gjs-pn-buttons{
// display: none !important;
// }
// .gjs-pn-buttons{
// display: none !important;
// }
// --------------------------------------------------------//
// ----------------global theme setting -------------------//
// --------------------------------------------------------//

.gjs-sm-property {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 10px;
}

.gjs-pn-buttons {
  background-color: var(--theme-primary);
}

.gjs-sm-property__border {
  display: block !important;

  .gjs-sm-composite {
    border: 1px solid var(--theme-elevation-150) !important;
  }
}

.gjs-field-color .gjs-input-holder {
  display: none !important;
}

.gjs-field-colorp {
  border-left: 0 !important;
  width: 27px !important;
  height: 26px !important;
}

.gjs-field-color {
  background-color: transparent !important;
  border: none !important;
}

.gjs-field-color-picker {
  border-radius: 3px !important;
}

.gjs-field-colorp .gjs-checker-bg,
.gjs-field-colorp .gjs-field-colorp-c {
  border-radius: 4px !important;
}

.gjs-sm-slider {
  display: block !important;
}

.gjs-field-range {
  border: none !important;
  background-color: transparent !important;
}

.gjs-category-open,
.gjs-block-category.gjs-open,
.gjs-sm-sector.gjs-sm-open {
  border-bottom: 2px solid var(--theme-elevation-50) !important
}

  // border-bottom: 1px solid var(--theme-elevation-900) !important;
}

// .gjs-field-range input[type="range"] {
//     -webkit-appearance: none;
//     width: 200px;
//     height: 10px;
//     background-color: #cacaca;
//     cursor: ew-resize;
//     overflow: hidden;
// }

// .gjs-field-range input::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     background: #48a3d7 !important;
//     border:none;
//   }

// .gjs-field-range input[type="range"]::-webkit-slider-thumb {
// //     -webkit-appearance: none;
// //     width: 10px;
// //     height: 10px;
// //     background: #fff;
// //     box-shadow: -205px 0 0 200px hsl(100,100%,40%);
// // }

.gjs-field-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #cacaca;
  border: 0px solid #000101;
}

.gjs-field-range input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-appearance: none;
  background: #48a3d7 !important;
  border: none;
}

.currentColor {
  color: #d0d0d0 !important;
  color: #d0d0d0 !important;
}

.gjs-select {
  .gjs-sel-arrow {
    .gjs-d-s-arrow {
      border-left: 4px solid transparent;
      border-top: 5px solid rgba(0, 0, 0, 0.7);
    }
  }
}

.full-width-image .gjs-block-label svg {
  width: 100%;
  height: 100% !important;
}

.gjs-block {
  .gjs-block-label {
    font-size: 0.95rem !important;
    font-weight: 600 !important;
  }

  .gjs-block__media svg {
    height: 45px !important;
  }
}

.gjs-sm-sector-title {
  position: relative !important;

  .full-width-image .gjs-block-label svg {
    width: 100%;
    height: 100% !important;
  }

  .gjs-block {
    .gjs-block-label {
      font-size: 0.95rem !important;
      font-weight: 600 !important;
    }

    .gjs-block__media svg {
      height: 45px !important;
    }
  }
}  

  .gjs-sm-sector-title {
    position: relative !important;
    padding: 9px 10px 9px 15px !important;
  }

  .gjs-sm-sector__global_colors_collection .gjs-sm-sector-title::after {
    background-image: url("../../assets/images/global-theme-settings/sidebar/colors.svg");
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
  }

  .gjs-sm-sector__global_fonts_collection .gjs-sm-sector-title::after {
    background-image: url("../../assets/images/global-theme-settings/sidebar/fonts.svg") !important;
    background-image: url("../../assets/images/global-theme-settings/sidebar/fonts.svg") !important;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
  }

.gjs-sm-sector__theme_style .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/headings.svg") !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}  

.gjs-sm-sector__form_fields .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/form-fields.svg") !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}

  .gjs-sm-sector__buttons .gjs-sm-sector-title::after {
    background-image: url("../../assets/images/global-theme-settings/sidebar/buttons.svg") !important;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
  }

  .gjs-sm-sector__images .gjs-sm-sector-title::after {
    background-image: url("../../assets/images/global-theme-settings/sidebar/images.svg") !important;
    background-image: url("../../assets/images/global-theme-settings/sidebar/images.svg") !important;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
  }

  .gjs-sm-sector__body_text .gjs-sm-sector-title::after {
    background-image: url("../../assets/images/global-theme-settings/sidebar/body-text.svg") !important;
    background-image: url("../../assets/images/global-theme-settings/sidebar/body-text.svg") !important;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
  }

  .gjs-sm-sector__links .gjs-sm-sector-title::after {
    background-image: url("../../assets/images/global-theme-settings/sidebar/links.svg") !important;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
  }

.gjs-pn-global-style { 
  .gjs-sm-sector-title {
    .gjs-sm-sector-label {
      font-size: 16px;
      letter-spacing: .1px;
    }
  }

  .gjs-sm-sector-caret {
    width: 20px;
    height: 20px;
    min-width: 20px;

    svg {
      color: #bcbec4;
    }
  }  
}  

.gjs-sm-clear {
  svg {
    vertical-align: top;
  }
}

.gjs-pn-save {
  background-color: #4ba4da !important;

  .gjs-pn-btn {
    color: #fff !important;
  }
}
