
$primaryColor: var(--theme-bg);
$secondaryColor: var(--theme-text);
$tertiaryColor: var(--theme-primary);
$quaternaryColor: var(--theme-primary);
$fontFace: var(--font-body);
$fontSize: 0.8rem;
$fontSizeS: 0.85rem;
$mainFont: 'proxima-nova', sans-serif;
$fontPath: '../../assets/fonts/proxima-nova';
$fontName: 'proximanova-bold-webfont';
$fontV: '';


.editor-canvas{
    background-color: #f1f3f5;
}
.gjs-cv-canvas{
    width: 78% !important;
}
.gjs-pn-views{
    width: 22% !important;
}
.gjs-pn-views-container {
    right: 0;
    width: 22% !important;
    overflow: scroll;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%) !important;
}
.gjs-selected {
    outline: 4px solid var(--theme-primary) !important;
    outline-offset: -4px !important;
}
.gjs-sm-properties {
    font-size: 1.2rem !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    font-weight: 500;
}
.gjs-pn-commands{
    width: 100% !important;
}
.gjs-layer-vis{
    width: 30px !important;
}
.gjs-label-wrp{
    width: 24% !important;
    min-width: 20% !important; 
}
.gjs-category-title,
.gjs-layer-title,
.gjs-block-category .gjs-title,
.gjs-sm-sector-title {
    font-weight: 500 !important;
    color: var(--theme-text) !important;
    font-size: 1rem !important;
    height: 3rem !important;
}
.gjs-sm-field input,
.gjs-clm-select input,
.gjs-clm-field input,
.gjs-sm-field select,
.gjs-clm-select select,
.gjs-clm-field select {   
    color: var(--theme-text) !important;
}
    
.gjs-layer-name{
    padding: 0.5rem !important;
}
.gjs-block {
    width: 31% !important;
    min-height: auto !important;
    padding: 0.5rem !important;
    border-radius: 4px !important;
    margin:2px !important;
    box-shadow: 1px 2px 0 0 rgba(97, 97, 97, 0.3) !important;
    background-color: #f1f3f5 !important;
    color: var(--theme-primary);
}
.gjs-blocks-c{
    justify-content: space-evenly !important;
}
.gjs-block__media {
    margin-bottom: 0px !important;
}
.gjs-sm-label {
    margin: 5px !important;
    align-items: stretch !important;
}
.gjs-block-label {
    font-size: 0.65rem !important;
    font-weight: 600 !important;
    font-family: var(--font-body);
    color: var(--theme-text);
}
.gjs-sm-property{
    width: 100% !important;
}
.gjs-field  {
    border: solid 1px #ddd !important;
    width: -webkit-fill-available !important;
    background-color: var(--theme-elevation-0) !important;
    border-radius: 1px !important;
    padding: 5px !important;
    min-height: 35px !important;
}
.gjs-clm-tags{
    font-size: 1rem !important;
}
.gjs-cv-canvas {
    left: 22% !important;
}

.gjs-pn-views-container{
    left: 0;
}
.gjs-pn-views{                      
    left: 0;
}

.gjs-traits-label {
    font-weight: bolder !important; 
    font-size: medium !important;
}
.gjs-radio-item input:checked+.gjs-radio-item-label {
    background-color: rgba(72, 163, 215, 0.8) !important;
}

@import "grapesjs/src/styles/scss/main.scss";

