$primaryColor: var(--theme-bg);
$secondaryColor: var(--theme-text);
$tertiaryColor: var(--theme-primary);
$quaternaryColor: var(--theme-primary);
$fontFace: var(--font-body);
$fontSize: 0.9rem;
$fontSizeS: 0.9rem;
$mainFont: "proxima-nova", sans-serif;
$fontPath: "../../assets/fonts/proxima-nova";
$fontName: "proximanova-bold-webfont";
@import "grapesjs/src/styles/scss/main.scss";

.editor-canvas {
  flex-grow: 1;
  background-color: #f1f3f5;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}

.gjs-cv-canvas {
  width: 80% !important;
}

.gjs-pn-panel,
.gjs-pn-views {
  width: 20% !important;
  box-shadow: 0 0 2px rgb(233 233 233 / 40%) !important;
}

.gjs-pn-views-container {
  width: 20% !important;
  overflow: auto;
  box-shadow: 0 0 2px rgb(233 233 233 / 40%) !important;
}

.gjs-selected {
  outline: 2px solid var(--theme-primary) !important;
  outline-offset: -2px !important;
}

.gjs-sm-properties {
  color: #101010 !important;
  font-weight: 400;
  font-size: 1rem !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  background-color: #fff !important;
}

.gjs-pn-commands {
  width: 100% !important;
}

.gjs-layer-vis {
  width: 30px !important;
}

.gjs-label-wrp {
  width: 18% !important;
  min-width: 20% !important;
}

// .gjs-category-title,
// .gjs-layer-title,
// .gjs-block-category,
.gjs-sm-sector-title {
  font-weight: 500 !important;
  color: var(--theme-text) !important;
  font-size: 1rem !important;
  // height: 3rem !important;
  background-color: #fff !important;
  flex-direction: row-reverse !important;
  justify-content: start !important;
  // border-bottom: 2px solid rgb(235 235 235) !important;
}

.gjs-sm-field input,
.gjs-clm-select input,
.gjs-clm-field input,
.gjs-sm-field select,
.gjs-clm-select select,
.gjs-clm-field select {
  color: var(--theme-text) !important;
}

.gjs-layer-name {
  padding: 0.5rem !important;
}

.gjs-block {
  width: 30% !important;
  padding: 0.5rem !important;
  border-radius: 4px !important;
  margin: 2px !important;
  box-shadow: 1px 1px 0 0 rgba(97, 97, 97, 0.3) !important;
  background-color: #f1f3f5 !important;
  color: var(--theme-primary);
}

.gjs-blocks-c {
  margin: 5px 10px;
  justify-content: space-evenly !important;
}

.gjs-block__media {
  margin-bottom: 0px !important;
}

.gjs-sm-label {
  margin: 5px !important;
}

.gjs-block-label {
  font-size: 0.65rem !important;
  font-weight: 600 !important;
  font-family: var(--font-body);
  color: var(--theme-text);
}

.gjs-field {
  border: solid 1px #ddd !important;
  background-color: var(--theme-elevation-0) !important;
  border-radius: 2px !important;
  // padding: 5px !important;
}
.gjs-select select {
  padding-right: 20px !important;
  padding-left: 10px !important;
  width: 120px !important;
}

.gjs-select select option {
  background-color: #fff !important;
  color: #101010 !important;
  border: none !important;
}

.gjs-field .gjs-d-s-arrow {
  right: 10px !important;
}

.gjs-field-integer input {
  padding-right: 30px;
  width: 120px !important;
}

.gjs-clm-tags {
  font-size: 1rem !important;
}

.gjs-cv-canvas {
  left: 20% !important;
}

.gjs-pn-views-container {
  left: 0;
}

.gjs-pn-views {
  left: 0;
}

.gjs-traits-label {
  font-weight: 600 !important;
  font-size: 1rem !important;
}

// .gjs-pn-buttons{
// display: none !important;
// }
// --------------------------------------------------------//
// ----------------global theme setting -------------------//
// --------------------------------------------------------//

.gjs-sm-property {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
}

.gjs-sm-property__border {
  display: block !important;

  .gjs-sm-composite {
    border: 1px solid rgb(255 255 255 / 25%) !important;
  }
}

.gjs-field-color .gjs-input-holder {
  display: none !important;
}

.gjs-field-colorp {
  border-left: 0 !important;
  width: 27px !important;
  height: 26px !important;
}

.gjs-field-color {
  background-color: transparent !important;
  border: none !important;
}

.gjs-field-color-picker {
  border-radius: 3px !important;
}

.gjs-field-colorp .gjs-checker-bg,
.gjs-field-colorp .gjs-field-colorp-c {
  border-radius: 4px !important;
}

.gjs-sm-slider {
  display: block !important;
}

.gjs-field-range {
  border: none !important;
  background-color: transparent !important;
}

// .gjs-field-range input[type="range"] {
//     -webkit-appearance: none;
//     width: 200px;
//     height: 10px;
//     background-color: #cacaca;
//     cursor: ew-resize;
//     overflow: hidden;
// }

// .gjs-field-range input::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     background: #48a3d7 !important;
//     border:none;
//   }

// .gjs-field-range input[type="range"]::-webkit-slider-thumb {
// //     -webkit-appearance: none;
// //     width: 10px;
// //     height: 10px;
// //     background: #fff;
// //     box-shadow: -205px 0 0 200px hsl(100,100%,40%);
// // }

.gjs-field-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #cacaca;
  border: 0px solid #000101;
}
.gjs-field-range input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-appearance: none;
  background: #48a3d7 !important;
  border: none;
}

.currentColor {
  currentcolor: #d0d0d0 !important;
}

.gjs-select {
  .gjs-sel-arrow {
    .gjs-d-s-arrow {
      border-left: 4px solid transparent;
      border-top: 5px solid rgba(0, 0, 0, 0.7);
    }
  }
}

.full-width-image .gjs-block-label svg {
  width: 100%;
  height: 100% !important;
}

.gjs-block {
  .gjs-block-label {
    font-size: 0.95rem !important;
    font-weight: 600 !important;
  }

  .gjs-block__media svg {
    height: 45px !important;
  }
}

.gjs-sm-sector-title {
  position: relative !important;
  padding: 9px 10px 9px 15px !important;
}

.gjs-sm-sector__global_colors_collection .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/colors.svg");
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}

.gjs-sm-sector__global_fonts_collection .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/fonts.svg") !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}

.gjs-sm-sector__theme_style .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/headings.svg") !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}

.gjs-sm-sector__buttons .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/buttons.svg") !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}

.gjs-sm-sector__images .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/images.svg") !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}

.gjs-sm-sector__body_text .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/body-text.svg") !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}

.gjs-sm-sector__links .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/links.svg") !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}

.gjs-sm-sector__form_fields .gjs-sm-sector-title::after {
  background-image: url("../../assets/images/global-theme-settings/sidebar/form-fields.svg") !important;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
}



.gjs-frame {
 
  top: 80px !important;

}

//--------------------------------------- //
//--------- new page builder css --------//
//--------------------------------------- //

.gjs-title {
  padding: 18px 0px 18px 50px !important;
  margin: 5px 15px !important;
  border: 1px solid #d5dbe0 !important;
  height: auto !important;
  border-radius: 5px !important;
  position: relative !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  background-color: #fff !important;
  display: flex !important;
  align-items: center !important;

  .gjs-caret-icon {
    position: absolute !important;
    right: 30px !important;
    content: "";
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../assets/images/eye.svg") !important;
  }

  .fa-caret-right:before {
    display: none !important;
  }

  .fa-caret-down:before {
    display: none !important;
  }
}

.gjs-title::before {
  background-image: url("../../assets/images/global-theme-settings/sidebar/form-fields.svg") !important;
  position: absolute;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
  z-index: 11111;
  left: 20px;
}

.gjs-title::after {
  background-image: url("../../assets/images/handle.svg") !important;
  position: absolute;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  content: "";
  z-index: 11111;
  right: 10px;
}

// --------------------------------------
// top panal options
// --------------------------------------

// .gjs-pn-options{
//   justify-content: center !important;
//   .gjs-pn-btn{
//     border: 1px solid #d5dbe0 !important;
//   }
// }

.gjs-pn-devices-c {
  right: 25% !important;
  top: 2% !important;
  width: 5% !important;
  padding: 0px !important;

  .gjs-device-label {
    display: none !important;
  }
}

.gjs-pn-panels .gjs-pn-options {
  display: none !important;
}

.gjs-pn-commands .gjs-pn-btn {
  display: none !important;
}

.preview-text {
  margin-left: 10px !important;
}

.preview-icon {
  height: 20px !important;
}

.preview {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  line-height: 0.7 !important;
}

.history {
  display: flex !important;
  /* width: 90px; */
  justify-content: center !important;
  align-items: center !important;
  line-height: 0 !important;
}

.history-icon {
  height: 20px !important;
  color: #858585 !important;
}

.history-text {
  margin-left: 10px !important;
}

.gjs-pn-panelTwo .gjs-pn-buttons {
  justify-content: end !important;
}

.setting {
  display: flex !important;
  /* width: 90px; */
  justify-content: center !important;
  align-items: center !important;
  line-height: 0 !important;
}

.setting-icon {
  height: 20px !important;
  color: #858585 !important;
}

.gjs-pn-panels .gjs-pn-panelOne {
  background-color: transparent !important;
  position: absolute !important;
  right: 2% !important;
  top: 1.5% !important;
}

.gjs-pn-panels .gjs-pn-panelTwo {
  background-color: transparent !important;
  position: absolute !important;
  right: 30% !important;
  top: 2% !important;
  display: block;
  padding: 0px !important;
}

.pg-builder-save-btn {
  background-color: #ffffff !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  color: #3a4152 !important;
  border: 1px solid #ebebed !important;
  padding: 10px 30px !important;
  text-transform: capitalize !important;
}

.save-panel-btn {
  background-color: #4ba4da !important;
  border-radius: 5px !important;
  font-size: 16px;
  color: #ffffff !important;
  border: 1px solid transparent !important;
  padding: 10px 30px !important;
}

.pg-setting-navbar {
  background-color: #ffffff !important;
  border-radius: 5px !important;
  font-size: 20px !important;
  color: #3a4152;
  border: 1px solid #ebebed !important;
  padding: 10px !important;
  margin-right: 0px !important;
}

.btn-toggle-borders-panelOne {
  background-color: #ffffff !important;
  border-radius: 5px !important;
  font-size: 16px !important;
  color: #3a4152;
  border: 1px solid #ebebed !important;
  padding: 11px 15px !important;
}

.btn-toggle-borders-panelTwo {
  background-color: #ffffff !important;
  border-radius: 5px !important;
  font-size: 20px !important;
  color: #3a4152;
  border: 1px solid #ebebed !important;
  padding: 10px !important;
  box-shadow: none !important;
  margin-right: 0px !important;
}

.gjs-pn-devices-c .gjs-pn-btn:first-child {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.gjs-pn-devices-c .gjs-pn-btn:last-child {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.gjs-pn-views-container {
  left: 0 !important;
  background-color: #ffffff !important;
  top: 80px !important;
  /* width: 19% !important; */
}

.gjs-pn-views {
  left: 0 !important;
  top: 80px !important;
  color: #fff;
  background-color: #787878 !important;
  border-bottom: 0px !important;

  /* width: 19% !important; */
  .gjs-pn-buttons {
    color: #fff !important;
  }
}

.gjs-pn-commands {
  right: 0 !important;
  left: unset !important;
  height: 80px !important;
  width: 100% !important;
  background-color: #ffffff !important;
}

.gjs-one-bg gjs-two-color {
  .gjs-cv-canvas {
    /* width: 81% !important; */
    right: 0 !important;
    height: 100% !important;
    top: 80px !important;
  }
}


// -----------------------------------------------------------//
// ----new page builder sidebar collection settinf------------//
// ----------------------------------------------------------//
.gjs-trt-traits{

  .gjs-trt-trait {
    padding: 7px 15px !important;

    .gjs-label{
      margin-bottom: 0.3rem !important;
      font-size: 14px !important;
      font-weight: 500 !important;
      color: var(--theme-text) !important;
    }
    .gjs-field-wrp--select{
      display: flex !important;
      justify-content: end !important;

      .gjs-field-select {
        width: 200px !important;
      select{
        padding-right: 20px !important;
        padding-left: 10px !important;
        option {
          background-color: #fff !important;
          color: #101010 !important;
          border: none !important;
      }
      }
    }

      .gjs-sel-arrow{
        .gjs-d-s-arrow{
          border-top: 5px solid rgb(0 0 0) !important; 
          border-left: 4px solid transparent !important;
          border-right: 4px solid transparent !important;
        }
      }

    }
  }

  .gjs-trt-trait__wrp-text-title{
    .gjs-trt-trait--text{
      display: block !important;
      .gjs-field-text{
        input{
          padding: 15px 10px !important;   
        }
      }
    }
  }
  .gjs-trt-trait__wrp-text-link{
    .gjs-trt-trait--text{
      display: block !important;
      .gjs-field-text{
        input{
       padding: 15px 10px !important;   
        }
      }
    }
  }


  






}


