*{
  // font-style: proxima-nova !important;
  font-family: "proxima-nova" !important;
}
.App {
  text-align: center;
}
ul {
  list-style: none !important;
}

ul li::before {
  content: "\2022"!important;
  color: red !important;
  font-weight: bold !important;
  display: inline-block !important; 
  width: 1em !important;
  margin-left: -1em !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

