@use 'sass:math';
@use 'sass:map';
@use 'sass:color';
@use 'sass:meta';
@use 'sass:selector';

$assets_path: '../../assets/images/';
// Variables


:root {
  --theme-primary: #4ba4da;
  --theme-text: #4a5162;
  --font-body: "proxima-nova", system-ui;

}

// Typography 

p {
  font-weight: 400;
}

// Selector

::selection {
  color: #fff;
  background-color: #4ba4da;
}

ul,
ol {

  padding-left: 1rem;

}

// Portal Banner

.portal-banner {
  padding: 40px 40px 48px;
  background: #32293b url('/portal/banner.png') right center / cover no-repeat scroll;
  box-shadow: none;
  min-height: 270px;
  border-radius: 7px;

  &__inner {
    display: flex;
    flex-direction: column;
    color: #fff;

    >span {
      font-size: 28px;
    }

    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;

      span {
        color: #61a7db;
      }
    }

    p {
      color: #edf0f5;
      font-size: 16px;
      max-width: 700px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}

// Card Wrapper

.card-wrapper {
  height: 100%;

  >* {
    width: 100%;
  }
}

// Card Portal

.card-portal {
  border: 1px solid #d3dbe3;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-shadow: none;
  border-radius: 8px;
  flex-direction: column;
  background-color: #f1f3f5;

  &__content {
    flex: 1;
    padding: 0 0 15px 90px;
    position: relative;
  }

  &__footer {
    padding-left: 90px;

    .btn {
      margin: 0 !important;
    }
  }

  &__icon {
    position: absolute;
    left: 0;

    &.card-portal--internal {
      top: 0;
      width: 70px;
      height: 70px;
      background: url('#{$assets_path}portal/icon_mobility.svg') right center / contain no-repeat scroll;
    }

    &.card-portal--external {
      top: -5px;
      width: 80px;
      height: 80px;
      background: url('#{$assets_path}portal/icon_configure.svg') right center / contain no-repeat scroll;
    }
  }

  &__title {
    font-weight: 700;
    margin: 0 0 16px;
    font-size: 22px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }

  &__list {
    list-style: none;
    margin: 0;

    li {
      font-size: 16px;
      font-weight: 400;

      &:before {
        content: "•";
        color: var(--theme-primary);
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        display: inline-block;
        width: 16px;
        margin-left: -16px;
      }
    }
  }
}

// Button

.btn {
  span {
    line-height: inherit;
  }

  &--style-primary {
    padding-left: 32px !important;
    padding-right: 32px !important;
    // padding-left: 24px !important;
    // padding-right: 24px !important;

    &:not(.btn--disabled):hover,
    &:not(.btn--disabled):focus {
      color: #fff;
      background: darken(#4ba4da, 15%);
    }
  }

  .btn__icon {
    background-color: transparent;
  }

  &.btn--add {
    .btn__label {
      position: relative;
      // padding-left: 22px;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -7px;
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url('#{$assets_path}add.svg') center center / contain no-repeat;
      }
    }
  }

  &:hover,
  &:focus {
    .btn__icon {
      background-color: transparent;

      svg {
        color: #fff;
      }
    }
  }

}

// Modal

.modal-title {
  &.modal-title--lg {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
  }
}

// Tip

.tip-wrapper {
  padding-top: calc(25px + .5rem);
}

// Editor Row

// .editor-row {
//   flex: 1;
//   width: 100%;
//   height: auto;
// }

// Table

.table {
  border: 1px solid var(--theme-border);
  border-radius: 4px;

  table {
    thead {
      tr {
        th {
          font-size: 14px;
          font-weight: 500;
          color: var(--theme-text);
          background-color: var(--theme-elevation-50);
          text-transform: uppercase;
          border-top: none;
          border-bottom: 1px solid #d1dbe3;
          padding: 12px 16px;

          &:first-child {
            border-top-left-radius: 4px;
          }

          &:last-child {
            border-top-right-radius: 4px;
          }

          .sort-column {
            &__buttons {
              margin-left: 8px;

              button {
                color: var(--theme-elevation-200);
                padding: 2px 2px;

                svg {
                  color: var(--theme-elevation-200);
                }

                &:focus {
                  outline: 0;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          color: var(--theme-text);
          background-color: var(--theme-elevation-0);
          font-weight: 400;

          a {
            color: var(--theme-primary);
            font-weight: 500;
          }
        }

        &:last-child {
          td {
            &:first-child {
              border-bottom-left-radius: 4px;
            }

            &:last-child {
              border-bottom-right-radius: 4px;
            }
          }
        }
      }
    }
  }
}

// Radio Buttons

.radio-input {
  &__styled-radio {
    position: relative;
    width: 20px !important;
    height: 20px !important;

    &::before {
      position: absolute;
      width: 10px !important;
      height: 10px !important;
      top: 50%;
      left: 50%;
      margin-top: -5px;
      margin-left: -5px;
      border-radius: 50%;
      border: none !important;
    }
  }



  &--is-selected {
    .radio-input__styled-radio {
      border-color: var(--theme-primary) !important;

      &::before {
        background-color: var(--theme-primary)
      }
    }
  }
}

// Search input

.search-filter {
  &__input {
    box-shadow: none !important;
    height: 48px;
    border-radius: 4px;
  }
}


// Panel Left 

// .panel__left {
//   padding: 0;
//   background-color: #fff;
//   border-right: 1px solid #d1dbe3;
//   width: 25% !important;
// }

// // Header

.main__content,
.collection-list,
.collection-edit__main,
.template-default__wrap,
.template-default__wrap .dashboard {
  &>.eyebrow {
    &:first-child {
      padding: 1.75rem 2rem !important;
      background-color: var(--theme-elevation-0) !important;

      .eyebrow__wrap {
        &.gutter--left {
          padding-left: 0;
        }

        &.gutter--right {
          padding-right: 0;
        }
      }
    }
  }

  &>.panel__top {
    right: 2rem !important;
    top: 21px !important;

    .gjs-pn-buttons {
      &>*+* {
        margin-left: 4px;
        font-size: 18px !important;
      }

      span {
        &[title="Settings"] {
          margin-right: 0 !important;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }

        &[title="Undo"] {
          margin-left: 0 !important;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }

        &[title="Preview"] {
          svg {
            margin-right: 4px !important;
          }
        }
      }

      button {
        &[title="Toggle Display"] {
          margin: 0 !important;
          border-radius: 0 !important;
          border-left-color: transparent !important;
          border-right-color: transparent !important;
        }
      }

      span[title="Settings"],
      span[title="Undo"],
      button[title="Toggle Display"] {

        &.gjs-pn-active,
        &:hover,
        &:focus {
          background-color: #4ba4da !important;
          border-color: #4ba4da !important;
        }
      }

      span[title="Preview"],
      span[title="Publish"] {

        &.gjs-pn-active,
        &:hover,
        &:focus {
          background-color: rgba(160, 168, 183, 0.04) !important;
          border-color: #a0a8b7 !important;
          color: #4a5162 !important;
        }
      }
    }
  }
}

// Dashboard 

.dashboard {
  &__wrap {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}

// Collection List

.collection-list {
  &__wrap {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;

    // &.gutter--left {
    //   padding-left: 2rem;
    // }

    // &.gutter--right {
    //   padding-right: 2rem;
    // }
  }
}

// Collection Edit 

.collection-edit {
  &__main {
    width: 100% !important;
  }

  &__edit {
    // width: percentage(math.div(2, 3));
    padding-top: 16px !important;
    padding-bottom: 0 !important;

    &.gutter--left {
      padding-left: 32px;
    }

    &.gutter--right {
      padding-right: 32px;
    }
  }

  &__header {
    width: 100%;
    display: none;
  }

  &__sidebar-wrap {
    width: 100% !important;
    padding: 0px 32px 32px !important;
    // padding-left: 9.6153846154rem;
    // padding-right: 9.6153846154rem;


  }

  &__sidebar-sticky-wrap {
    position: flex !important;
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    width: 100% !important;
    padding: 0 !important;

  }


  &__collection-actions {
    display: block !important;
  }

  &__document-actions {
    padding-left: 0px !important;

    &::before {
      background: var(--theme-elevation-100) !important;
      /* opacity: 0.85; */
    }
  }

  &__meta {
    display: none;
  }
}

// Render Fields

// .render-fields {

// }

// Sidebar

.nav {
  &__controls {
    width: 100%;

    &>* {
      margin-top: 0;
    }

    .localizer {
      padding: 1rem 2rem 1rem 1.5rem;
    }
  }
}

// Filed Label

.field-type {
  .field-label {
    font-weight: 500;
    font-size: 16px;
    color: var(--theme-text-dark);
    margin-bottom: 0;
  }

  &.textarea {
    .textarea-outer {
      box-shadow: none !important;
      border-radius: 4px !important;
    }
  }

  &.file-field {
    .file-field__upload {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px dashed #4ba4da;
      border-radius: 4px;
      background-color: var(--theme-elevation-0);
      min-height: 128px;
    }

    .file-field__drop-zone {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: var(--theme-elevation-0);
      border: none;
      position: relative;
      padding-top: 76px;
      padding-bottom: 24px;

      &::before {
        content: '';
        position: absolute;
        top: 32px;
        left: 50%;
        height: 32px;
        width: 80px;
        margin-left: -40px;
        background: url('#{$assets_path}upload.svg') center center / contain no-repeat scroll;
      }
    }

    .file-field__file-selected {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: var(--theme-elevation-0);
      padding-top: 40px;
      padding-bottom: 40px;

      .file-field__filename {
        font-weight: 600;
      }

      .btn {
        .btn__icon {
          border: 1px solid var(--theme-elevation-100);
        }

        svg {
          color: var(--theme-elevation-100);
        }

        &:hover,
        &:focus {
          .btn__icon {
            svg {
              color: var(--theme-elevation-100) !important;
            }
          }
        }
      }
    }

    .file-field__file-button {
      padding: 0 !important;
      border: none !important;
      transition: none !important;
      box-shadow: none !important;
      font-family: var(--font-body);
      font-size: 16px;
      margin: 0 4px 0 0;
      color: #4ba4da !important;

      &:hover,
      &:focus {
        background-color: transparent;
        color: darken(#4ba4da, 10%) !important;
      }
    }

    .file-field__drag-label {
      font-size: 16px;
      color: var(--theme-elevation-50)
    }

    .file-details {
      background-color: #fff;
      border: 2px solid var(--theme-elevation-50);

      header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .thumbnail {
          width: 100%;

          img {
            max-width: 100%;
            width: auto;
            height: auto;
            display: block;
            margin: 0 auto;
          }

          &.thumbnail--size-medium {
            max-height: 800px;
          }
        }

        .file-details__main-detail {
          width: 100%;
        }

        .file-details__remove {
          position: absolute;
          top: 12px;
          right: 8px;
          margin: 0 !important;
        }
      }
    }
  }
}

// Sidebar Navigation

.nav-group {
  padding: 0 !important;
  margin: 0 !important;
}

.nav-link {
  position: relative;
  font-size: 15px !important;
  padding: 14px 16px 10px 48px !important;

  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    left: 16px;
  }

  &:hover,
  &:focus {
    color: var(--theme-text) !important;
    background-color: var(--theme-elevation-50) !important;
  }

  &.active {

    &:hover,
    &:focus {
      color: var(--theme-elevation-0) !important;
      background-color: #4ba4da !important;
    }
  }

  &.nav-category {
    font-size: 16px !important;
    border-bottom: 1px solid var(--theme-elevation-100);
    padding: 12px 16px 12px 50px !important;
    display: flex;
    align-items: center;
  }

  $nav-icons: 'studio' 'studio_dashboard' 'center top 2px',
    'settings' 'portal_settings' 'center center',
    'pages' 'pages' 'center center',
    'menus' 'menus' 'center center',
    'media' 'media_library' 'center center',
    'templates' 'template_library' 'center center',
    'themes' 'themes' 'center center',
    'users' 'users' 'center center',
    'identities' 'portal_identity' 'center center';

  @each $link,
  $icon,
  $position in $nav-icons {
    &.nav-#{$link} {
      &::before {
        background: url('#{$assets_path}sidebar/#{$icon}.svg') #{$position} no-repeat scroll;
      }

      &.active {
        &::before {
          background: url('#{$assets_path}sidebar/#{$icon}_active.svg') #{$position} no-repeat scroll;
        }
      }
    }
  }
}

.nav-group__toggle {
  display: flex;
  align-items: center;
  padding: 12px 16px !important;
  border-bottom: 1px solid var(--theme-border) !important;

  .nav-group__label {
    font-size: 16px;
  }
}

.nav-group--collapsed .nav-group__indicator {
  transform: rotate(-0.25turn);
}

.Global {

  #nav-section-templates,
  #nav-design-system,
  #nav-themes-style {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 36px !important;

    &:hover,
    &:focus {
      color: var(--theme-text) !important;
      background-color: var(--theme-elevation-50) !important;
    }

    &.active {

      &:hover,
      &:focus {
        color: var(--theme-elevation-0) !important;
        background-color: #4ba4da !important;
      }
    }
  }

  #nav-design-system {
    &.active {
      &:before {
        background-image: url("#{$assets_path}sidebar/design_system_active.svg") !important;
      }
    }
  }

  #nav-themes-style {
    &.active {
      &:before {
        background-image: url("#{$assets_path}sidebar/theme_style_active.svg") !important;
      }
    }
  }

  #nav-section-templates {
    &.active {
      &:before {
        background-image: url("#{$assets_path}sidebar/section_active.svg") !important;
      }
    }
  }

  .nav-group__content {
    border-bottom: 1px solid #d3dbe3 !important;
    padding: 8px 0;
  }
}

// Group Fields

.group-field {
  &--within-collapsible {
    margin-top: 0 !important;
  }

  .group-field__title {
    font-size: 20px;
  }
}

.collection-edit__sidebar-sticky-wrap {
  .collection-edit__collection-actions {
    padding: 0 1.4423076923rem 0.9615384615rem;
    display: flex !important;
  }

  .collection-edit__document-actions {
    padding-right: 0px;
  }

  #action-create {
    background-color: var(--theme-text);
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 5px;
    font-family: var(--font-body);
    font-weight: 500;
    font-size: medium;
    border: none;
    line-height: 1.5;
    display: inline-block;
    margin-top: 1.9230769231rem;
    margin-bottom: 1.9230769231rem;
  }

  #action-duplicate {
    background-color: #E6E6E6;
    color: rgb(34, 34, 34);
    padding: 10px 25px;
    border-radius: 5px;
    font-family: var(--font-body);
    font-weight: 500;
    font-size: medium;
    border: 1px solid #D2D2D2;
    line-height: 1.5;
    display: inline-block;
    margin-top: 1.9230769231rem;
    margin-bottom: 1.9230769231rem;
  }

  #action-delete {
    color: #4A5162;
    padding: 10px 0px;
    font-family: var(--font-body);
    font-weight: 500;
    font-size: medium;
    line-height: 1.5;
    margin-top: 1.9230769231rem;
    margin-bottom: 1.9230769231rem;
  }

  .collection-edit__sidebar-fields {
    padding: 0 0;
  }
}

// Upload Card 

// .upload-card {
//   .thumbnail {}

//   &__filename {}
// }

// Panel Header

.panel-header {
  font-size: 20px !important;
  padding: .75rem 1rem !important;
  justify-content: space-between !important;
  margin-bottom: 0 !important;

  &__menu,
  &__link {
    svg {
      font-size: 24px !important;
    }
  }

  &:hover {
    background-color: #4ba4da !important;

    .panel-header__link {
      color: #fff !important
    }
  }
}

.gjs-sm-sector__design_system,
.gjs-sm-sector__theme_style {
  height: 44px;

  .gjs-sm-sector-title {
    height: 44px !important;
  }

  .gjs-sm-sector-label {
    display: inline-flex;
    align-items: center;
    font-size: 15px !important;
    letter-spacing: 0;
    padding-top: 4px;
  }
}

.gjs-sm-sector {
  &-title {
    letter-spacing: 0;
  }
}

// Page Template Card

.page-template-card {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &__title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-body);
  }
}