@import '../../styles/customAdmin.scss';

.field-type.text {
  position: relative;

  .field-label {
    font-weight: 500;
    font-size: 16px;
    color: var(--theme-text);
  }

  input {
    padding: .375rem .75rem;
    @include formInput;

  }

  &.error {
    input {
      background-color: var(--theme-error-200);
    }
  }
}

// .label {
//   .field-label {
//     @extend %body;
//     display: flex;
//     padding-bottom: base(.25);
//     color: var(--theme-text);
//     font-family: var(--font-body);

//     .required {
//       color: var(--theme-error-500);
//       margin-left: base(.25);
//       margin-right: auto;
//     }
//   }
// }